<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="view port">
        
        <title>Simple Portfolio</title>
        <link rel="stylesheet"href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class="sidebar">
        <a href="#about">About  </a>
        <a href="#education">Education</a>
        <a href="#projects">Projects</a>
    </div>
    <div class="main">
        <div class="header">
        <div class="photo"></div>
        <h1>Your Name</h1>
        </div>
        <div id="about"
        class="section">
    <h2>About Me</h2>
<p>Write something about yourself..</p></div>
   <div id="projrcts"class="section">
    <h2>Projects</h2>
    <p>Describe your projrcts here..</p></div>
        </div>
    </div>
    </body>
    </html>
